[submodule "amalgamation"]
	path = amalgamation
	url = ./amalgamation
[submodule "hets-api"]
	path = hets-api
	url = ./hets-api
[submodule "concept-innovator"]
	path = concept-innovator
	url = ./concept-innovator
