[submodule "amalgamation"]
	path = amalgamation
	url = git@github.com:gibso/Amalgamation.git
[submodule "hets-api"]
	path = hets-api
	url = git@github.com:gibso/hets-api.git
[submodule "concept-innovator"]
	path = concept-innovator
	url = git@github.com:gibso/concept-innovator.git
