[submodule "amalgamation"]
	path = amalgamation
	url = git@github.com:gibso/Amalgamation.git
[submodule "hets-api"]
	path = hets-api
	url = git@github.com:gibso/hets-api.git
[submodule "specifier"]
	path = specifier
	url = git@github.com:gibso/concept-specifier.git
[submodule "thesis"]
	path = thesis
	url = git@github.com:gibso/masterthesis.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:gibso/orpheus-frontend.git
